<article class="room-type">
  <section class="body">
    <div class="row">
      <div class = "col-xs-2 col-sm-3">
      </div>
      <div class = "col-xs-6 col-sm-5">
        <p><%= data.name %></p>
        <p> <%= data.description %> </p>
      </div>
      <div class = "col-xs-5 col-sm-4">
        <p> Avaliable rooms: <%= data.total_avaliable %> </p>
        <p> Price per day: <%= data.price %> </p>
        <p> Total price: <%= data.total_price %> </p>
      </div>
    </div>
    <hr>
  </section>
</article>